body {
    margin: auto;
    width: 100%;
    font-family: sans-serif;
}

/*Header styles*/

#header-nav {
    float: right;
    font-size: 0.75em;
    padding: 10px 10px 0px 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0px 8px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

img {
    display: flex;
    align-items: center;
}

#apps-button {
    padding: 8px;
    margin: 0px 0px;
}

#apps-button:hover {
    border-radius: 50%;
    background-color: rgb(238, 236, 236);
}

#acceder-button {
    background-color: rgb(50, 124, 243);
    border: none;
    border-radius: 5px;
    padding: 6px 23px 10px 23px;
    margin: 0px;
    color: white;
    font-size: 1.2em;
}

#acceder-button:hover {
    background-color: rgb(66,133,244);
}

/*Searchbar styles*/

#search-div {
    margin: 100px auto;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: aqua;
}

#foogle-logo {
    width: 250px;
    height: auto;
    padding: 20px;
}

#searchbar {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: 6px;
    background-color: white;
    width: 600px;
    padding: 12px;
    border-radius: 24px;
}

footer {
    position: absolute;
    bottom:0;
    background-color: aquamarine;
    font-size: 0.8em;
}

#footer-nav1 {
    float:left;
    background-color: wheat;
}

#footer-nav2 {
    float: right;
    background-color: wheat;
}
